.menu {
  position: absolute;
  right: 4px;
  top: 5px;

  &__mob {
    display: block;
    background-color: $main-color;
    border: none;
    padding: 0;
    span {
      display: block;
      width: 24px;
      height: 2px;
      background-color: $second-color;
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
